body,
footer {
    cursor: url(assets/cursor.png), auto;
}

hr {
    color: cyan;
}

a {
    color: white;
}

iframe {
    border: 3px solid rgb(220, 53, 69);
}

a:hover {
    cursor: url(assets/pointer.png), pointer;
}