body,
footer {
    cursor: url(../assets/img/cursor/cursor.png), auto;
}

body {
    background: url(../assets/img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.w-15{
    width: 185px;
}
/* LOGO MOVIL*/
.mobile-p{
    width: 180px;
}

a:hover,
.carousel-control-prev:hover,
.carousel-control-next:hover,
.btn:hover {
    cursor: url(../assets/img/cursor/pointer.png), pointer;
}


.overflow-auto::-webkit-scrollbar {
    display: none;
}

.hidden{
    display: none;
}

.form-check-input:focus {
    outline: none;
    box-shadow: none;
  }
  
  .form-check-input:hover {
    cursor: url(../assets/img/cursor/pointer.png), pointer;
  }
