body,
footer {
    cursor: url(../assets/img/cursor/cursor.png), auto;
}

i:hover,button:hover:enabled,a:hover,
.carousel-control-prev:hover,
.carousel-control-next:hover {
    cursor: url(../assets/img/cursor/pointer.png), pointer;
}

.w-15{
    width: 15%;
}
#listaProductos,#ticket{
    max-height: 20rem;
    overflow-y: auto;
}
body{ 
    display:grid; 
    grid-template-rows: auto 1fr auto; 
    min-height:100vh; 
  }