body,
footer {
    cursor: url(../assets/img/cursor/cursor.png), auto;
}

i:hover,button:hover:enabled,a:hover,
.carousel-control-prev:hover,
.carousel-control-next:hover {
    cursor: url(../assets/img/cursor/pointer.png), pointer;
}

.w-15{
    width: 15%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}