body,
footer {
    cursor: url(../assets/img/cursor/cursor.png), auto;
}

body {
    background: url(../assets/img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

hr {
    color: cyan;
}

a {
    color: white;
}


iframe {
    border: 3px solid rgb(220, 53, 69);
    border-radius: 1em;
}

a:hover,
.carousel-control-prev:hover,
.carousel-control-next:hover {
    cursor: url(../assets/img/cursor/pointer.png), pointer;
}